{% extends "auctions/layout.html" %}

{% block body %}

<div class="container section">
    <h2>Active Listings</h2>
        {% for bid, listing in zipped %}
            <li class="card">
                <a class="card-link" href="{% url 'listing_page' listing.id %}">
                    Go to: {{ listing.item }} details 
                </a>
                {% if listing.image.url %}
                    <img src="{{listing.image.url }}" alt="Why?" width="200" height="auto">
                {% else %}
                    <img src="{{listing.image_url }}" alt="Why?" width="200" height="auto">
                {% endif %}
                <div>Starting price: {{ listing.price }}</div>
                <div>Current bid: {{ bid.current_bid }}</div>
                <div>Description: {{ listing.description }}</div>                                  
            </li>
        {% empty %}
            <li>No Active Listings</li>
        {% endfor %}
</div>
{% endblock %}